Repository finos/FDC3, pull requests merged in 2019-08, with the labels that each got.

#114 Upgrade to docusaurus 1.12 and address some npm security warnings
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: cla-present, website

#94 Proposed API changes
  docs/api/api-spec.md
  src/api/channel/channel.ts
Labels: api, cla-present

#117 align CONTRIBUTING.md to FINOS project blueprint language
  .github/CONTRIBUTING.md
Labels: cla-present
