Repository finos/FDC3, pull requests merged in 2019-05, with the labels that each got.

#92 findIntentsForContext + assorted typos
  docs/api/api-spec.md
  docs/appd-use.md
  src/api/interface.ts
Labels: api, cla-present

#88 Removing FactSet specfic examples
  docs/context-spec.md
Labels: cla-present, context-data

#95 Fixed a few typos
  website/versioned_docs/version-1.0/why-fdc3.md
Labels: cla-present, docs

#93 AppD - Added POST Search endpoint and updated descriptions
  src/app-directory/specification/appd.yaml
Labels: app-directory, cla-present
