Repository finos/FDC3, pull requests merged in 2020-07, with the labels that each got.

#222 fix(api): getCurrentChannel
  docs/api/ref/DesktopAgent.md
  src/api/DesktopAgent.ts
  website/versioned_docs/version-1.1/api/ref/DesktopAgent.md
Labels: api, cla-present

#224 fix(schemas): correct invalid schema references
  src/context/schemas/contact.schema.json
  src/context/schemas/contactList.schema.json
  src/context/schemas/context.schema.json
  src/context/schemas/country.schema.json
  src/context/schemas/instrument.schema.json
  src/context/schemas/instrumentList.schema.json
  src/context/schemas/organization.schema.json
  src/context/schemas/portfolio.schema.json
  src/context/schemas/position.schema.json
  website/static/schemas/1.1/contact.schema.json
  website/static/schemas/1.1/contactList.schema.json
  website/static/schemas/1.1/context.schema.json
  website/static/schemas/1.1/country.schema.json
  website/static/schemas/1.1/instrument.schema.json
  website/static/schemas/1.1/instrumentList.schema.json
  website/static/schemas/1.1/organization.schema.json
  website/static/schemas/1.1/portfolio.schema.json
  website/static/schemas/1.1/position.schema.json
  website/static/schemas/next/contact.schema.json
  website/static/schemas/next/contactList.schema.json
  website/static/schemas/next/context.schema.json
  website/static/schemas/next/country.schema.json
  website/static/schemas/next/instrument.schema.json
  website/static/schemas/next/instrumentList.schema.json
  website/static/schemas/next/organization.schema.json
  website/static/schemas/next/portfolio.schema.json
  website/static/schemas/next/position.schema.json
Labels: cla-present, context-data

#225 ChartIQ->Cosaic rebrand
  website/data/users.json
  website/static/img/users/ChartIQ.png
  website/static/img/users/ChartIQ.webp
  website/static/img/users/Finsemble.png
  website/static/img/users/Finsemble.webp
  website/versioned_docs/version-1.1/api/spec.md
Labels: cla-present

#228 #197 - Update "Get Involved" page on website
  website/pages/en/get-involved.js
Labels: cla-present
