Repository finos/FDC3, pull requests merged in 2020-01, with the labels that each got.

#153 Added UC17 for review and vote
  docs/assets/uc17.png
  docs/use-cases/004-client-side-fx-trader.md
  docs/use-cases/005-buy-side-treasurer.md
  docs/use-cases/017-fine-tuning-interop-with-channels.md
Labels: cla-present, use-cases

#139 added section on window.fdc3 global
  docs/api/api-spec.md
Labels: api, cla-present

#154 1.1 api simple
  docs/api/DesktopAgent.md
  docs/api/Errors.md
  docs/api/api-spec.md
  src/api/channel/channel.ts
  src/api/interface.ts
Labels: 1.1, api, cla-present

#123 Create readme.md
  docs/use-cases/readme.md
Labels: cla-present, use-cases

#122 Update 016-quantifying-fdc3-interactions.md
  docs/use-cases/016-quantifying-fdc3-interactions.md
Labels: cla-present, use-cases

#159 UCWG Meeting Minutes - 16 January 2020
  docs/use-cases/meeting-minutes/2020-01-16 uc-wg meeting notes.md
Labels: cla-present

#157 Align intent and application definition between schemas
  docs/api/DesktopAgent.md
  src/api/interface.ts
  src/intents/Intent.yaml
  src/intents/intent.ts
Labels: 1.1, api, cla-present

#161 Add context filtering to API and improve docs
  docs/api/Channel.md
  docs/api/Context.md
  docs/api/ContextHandler.md
  docs/api/DesktopAgent.md
  docs/api/DisplayMetadata.md
  docs/api/Listener.md
  docs/api/api-spec.md
  src/api/interface.ts
  website/sidebars.json
Labels: api, cla-present

#164 make return on Channel.broadcast void to be consistent with broadcast…
  docs/api/Channel.md
  src/api/interface.ts
Labels: cla-present

#163 Context spec update
  docs/context-spec.md
Labels: cla-present
