Repository finos/FDC3, pull requests merged in 2020-02, with the labels that each got.

#167 Add Google Analytics code to FDC3 microsite
  website/siteConfig.js
Labels: cla-present

#166 dropped POST method for search
  src/app-directory/specification/appd.yaml
  website/pages/appd-spec.html
Labels: cla-present

#169 Split out API files and docs better
  docs/api/Errors.md
  docs/api/overview.md
  docs/api/ref/AppIntent.md
  docs/api/ref/AppMetadata.md
  docs/api/ref/Channel.md
  docs/api/ref/ChannelError.md
  docs/api/ref/Context.md
  docs/api/ref/ContextHandler.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/DisplayMetadata.md
  docs/api/ref/IntentMetadata.md
  docs/api/ref/IntentResolution.md
  docs/api/ref/Listener.md
  docs/api/ref/OpenError.md
  docs/api/ref/ResolveError.md
  docs/api/spec.md
  src/api/AppIntent.ts
  src/api/AppMetadata.ts
  src/api/Channel.ts
  src/api/DesktopAgent.ts
  src/api/DisplayMetadata.ts
  src/api/IntentMetadata.ts
  src/api/IntentResolution.ts
  src/api/Listener.ts
  src/api/index.ts
  src/api/interface.ts
  website/sidebars.json
Labels: api, cla-present

#172 Add reference documentation for intents and context data
  docs/context/overview.md
  docs/context/ref/Contact.md
  docs/context/ref/ContactList.md
  docs/context/ref/Context.md
  docs/context/ref/Country.md
  docs/context/ref/Instrument.md
  docs/context/ref/InstrumentList.md
  docs/context/ref/Organization.md
  docs/context/ref/Portfolio.md
  docs/context/ref/Position.md
  docs/context/spec.md
  docs/intents/overview.md
  docs/intents/ref/StartCall.md
  docs/intents/ref/StartChat.md
  docs/intents/ref/ViewAnalysis.md
  docs/intents/ref/ViewChart.md
  docs/intents/ref/ViewContact.md
  docs/intents/ref/ViewInstrument.md
  docs/intents/ref/ViewNews.md
  docs/intents/ref/ViewQuote.md
  docs/intents/spec.md
  website/sidebars.json
Labels: cla-present, context-data, intents

#170 Rename and publish context schema files
  .travis.yml
  docs/context/ref/Contact.md
  docs/context/ref/Instrument.md
  docs/context/spec.md
  docs/intents/ref/StartChat.md
  examples/context/Contact.ts
  examples/context/ContactList.ts
  examples/context/Country.ts
  examples/context/Instrument.ts
  examples/context/InstrumentList.ts
  examples/context/Organization.ts
  examples/context/Portfolio.ts
  examples/context/Position.ts
  src/context/schemas/contact.schema.json
  src/context/schemas/contactList.schema.json
  src/context/schemas/context.schema.json
  src/context/schemas/country.schema.json
  src/context/schemas/instrument.schema.json
  src/context/schemas/instrumentList.schema.json
  src/context/schemas/organization.schema.json
  src/context/schemas/portfolio.schema.json
  src/context/schemas/position.schema.json
  website/package.json
  website/static/schemas/next/contact.schema.json
  website/static/schemas/next/contactList.schema.json
  website/static/schemas/next/context.schema.json
  website/static/schemas/next/country.schema.json
  website/static/schemas/next/instrument.schema.json
  website/static/schemas/next/instrumentList.schema.json
  website/static/schemas/next/organization.schema.json
  website/static/schemas/next/portfolio.schema.json
  website/static/schemas/next/position.schema.json
  website/yarn.lock
Labels: cla-present, context-data

#171 New channel proposition
  docs/api/ref/DesktopAgent.md
  docs/api/spec.md
Labels: api, cla-present

#168 updated spec with more detailed explanation of the 'default' channel
  docs/api/api-spec.md
Labels: api, cla-present
