Repository finos/FDC3, pull requests merged in 2021-12, with the labels that each got.

#515 476 clarify that getInfo is required for FDC3 compliance
  CHANGELOG.md
  docs/api/spec.md
  docs/fdc3-compliance.md
Labels: cla-present, api

#516 362 All DesktopAgent and Channel APIs are async
  CHANGELOG.md
  docs/api/overview.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/spec.md
  src/api/Channel.ts
  src/api/DesktopAgent.ts
  src/api/Methods.ts
  test/Methods.test.ts
Labels: cla-present, api, channels feeds & transactions

#528 487 488 improving getting started
  docs/fdc3-charter.md
  docs/fdc3-intro.md
Labels: formal specification

#507 284 IntentResolution should contain the intent raised
  CHANGELOG.md
  docs/api/ref/Metadata.md
  docs/api/spec.md
  src/api/IntentResolution.ts
Labels: enhancement, cla-present, api

#485 Governance and licensing updates
  GOVERNANCE.md
  PATENTS-FDC3-1.0.md
  PATENTS.md
  README.md
  SCOPE.md
Labels: cla-present, project governance

#530 Adding references and bibliography section
  CHANGELOG.md
  docs/references.md
  website/sidebars.json
Labels: formal specification

#492 451 Improve spec and documentation of fdc3.addContentListener to mention joining channels
  CHANGELOG.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/spec.md
Labels: cla-present, docs, channels feeds & transactions

#496 308 Remove details of the 'global' channel that was deprecated in FDC3 1.2
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/spec.md
  docs/context/ref/Instrument.md
  docs/context/ref/InstrumentList.md
Labels: cla-present, api, deprecation
