Repository finos/FDC3, pull requests merged in 2021-07, with the labels that each got.

#406 Fix context definition in API documentation
  docs/api/ref/Types.md
  website/versioned_docs/version-1.2/api/ref/Types.md
Labels: api, bug, cla-present, docs

#404 Consolidate Listener with other types in documentation
  docs/api/overview.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Listener.md
  docs/api/ref/Types.md
  website/versioned_docs/version-1.2/api/overview.md
  website/versioned_docs/version-1.2/api/ref/Channel.md
  website/versioned_docs/version-1.2/api/ref/DesktopAgent.md
  website/versioned_docs/version-1.2/api/ref/Listener.md
  website/versioned_docs/version-1.2/api/ref/Types.md
  website/versioned_sidebars/version-1.2-sidebars.json
Labels: api, cla-present, docs

#424 Correcting some syntax errors in context documentation
  docs/context/ref/Contact.md
  docs/context/ref/Country.md
  docs/context/ref/Instrument.md
  docs/context/ref/Organization.md
  docs/context/ref/Portfolio.md
  docs/context/ref/Position.md
  website/versioned_docs/version-1.2/context/ref/Contact.md
  website/versioned_docs/version-1.2/context/ref/Country.md
  website/versioned_docs/version-1.2/context/ref/Instrument.md
  website/versioned_docs/version-1.2/context/ref/Organization.md
  website/versioned_docs/version-1.2/context/ref/Portfolio.md
  website/versioned_docs/version-1.2/context/ref/Position.md
Labels: cla-present, docs

#427 Fix broken link in Readme
  README.md
Labels: cla-present

#421 Update the list of example desktop agents
  docs/api/spec.md
  website/versioned_docs/version-1.2/api/spec.md
Labels: cla-present, docs

#428 Add Citi Logo to FDC3 Microsite
  website/data/users.json
  website/static/img/users/citi.png
Labels: cla-present

#429 Update Citi logo to include trademark
  website/static/img/users/citi.png
Labels: cla-present
