Repository finos/FDC3, pull requests merged in 2022-03, with the labels that each got.

#508 433 Feeds: PrivateChannels and returning channels from intents
  CHANGELOG.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Errors.md
  docs/api/ref/Metadata.md
  docs/api/ref/PrivateChannel.md
  docs/api/ref/Types.md
  docs/api/spec.md
  src/api/AppMetadata.ts
  src/api/Channel.ts
  src/api/DesktopAgent.ts
  src/api/Errors.ts
  src/api/IntentResolution.ts
  src/api/Methods.ts
  src/api/PrivateChannel.ts
  src/api/Types.ts
  src/app-directory/specification/appd.yaml
  test/Methods.test.ts
  website/sidebars.json
  website/static/schemas/next/app-directory.yaml
Labels: enhancement, cla-present, api, channels feeds & transactions

#601 581 add intent delivery failed error and document errors
  CHANGELOG.md
  docs/api/ref/Errors.md
  src/api/AppIntent.ts
  src/api/AppMetadata.ts
  src/api/Channel.ts
  src/api/DisplayMetadata.ts
  src/api/Errors.ts
  src/api/Icon.ts
  src/api/ImplementationMetadata.ts
  src/api/IntentMetadata.ts
  src/api/IntentResolution.ts
  src/api/Listener.ts
  src/api/Types.ts
Labels: enhancement, api

#535 165 Add FDC3 Explained to the toolbox folder
  toolbox/fdc3-explained/1.0/index.html
  toolbox/fdc3-explained/1.0/main.js
  toolbox/fdc3-explained/1.0/styles.css
  toolbox/fdc3-explained/1.1/index.html
  toolbox/fdc3-explained/1.1/main.js
  toolbox/fdc3-explained/1.1/styles.css
  toolbox/fdc3-explained/1.2/index.html
  toolbox/fdc3-explained/1.2/main.js
  toolbox/fdc3-explained/1.2/styles.css
  toolbox/fdc3-explained/README.md
  toolbox/fdc3-explained/index.html
  toolbox/fdc3-explained/logo.svg
  website/package.json
Labels: website, toolbox

#635 Fix typo
  README.md
Labels: docs

#653 Fix style conficts
  website/siteConfig.js
Labels: website
