Repository finos/FDC3, pull requests merged in 2022-05, with the labels that each got.

#675 561 Appd better align with web application manifest
  CHANGELOG.md
  docs/app-directory/overview.md
  docs/references.md
  src/app-directory/specification/appd.yaml
  website/static/schemas/next/app-directory.yaml
Labels: enhancement, docs, app-directory

#549 533 experimental features
  CHANGELOG.md
  docs/fdc3-compliance.md
Labels: docs, project governance, formal specification

#695 566 remove appd create application endpoint
  CHANGELOG.md
  docs/app-directory/spec.md
  src/app-directory/specification/appd.yaml
  website/static/schemas/next/app-directory.yaml
Labels: app-directory

#701 681 Update Intent Naming Conventions
  CHANGELOG.md
  docs/intents/overview.md
  docs/intents/spec.md
Labels: docs, intents, Context Data & Intents

#712 491 formal spec reorg
  .gitignore
  docs/api/overview.md
  docs/api/ref/Metadata.md
  docs/api/spec.md
  docs/app-directory/discovery.md
  docs/app-directory/overview.md
  docs/app-directory/spec.md
  docs/app-directory/usage.md
  docs/assets/appd_dns.png
  docs/assets/appd_service_distribution.png
  docs/assets/appd_static_config.png
  docs/context/overview.md
  docs/context/spec.md
  docs/fdc3-charter.md
  docs/fdc3-compliance.md
  docs/fdc3-glossary.md
  docs/fdc3-intro.md
  docs/fdc3-standard.md
  docs/intents/overview.md
  docs/intents/spec.md
  docs/real-world-use-cases.md
  docs/references.md
  docs/supported-platforms.md
  docs/trademarks.md
  docs/why-fdc3.md
  toolbox/fdc3-explained/README.md
  toolbox/fdc3-explained/logo.png
  website/data/implementations.json
  website/pages/en/implementations.js
  website/pages/en/index.js
  website/pages/en/versions.js
  website/pages/fdc3-roadmap.html
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/js/implementationFilters.js
  website/static/schemas/next/app-directory.yaml
  website/versioned_docs/version-1.0/appd-intro.md
  website/versioned_docs/version-1.0/fdc3-standard.md
  website/versioned_docs/version-1.0/intents-intro.md
  website/versioned_docs/version-1.1/fdc3-standard.md
  website/versioned_docs/version-1.2/fdc3-standard.md
  website/versioned_sidebars/version-1.0-sidebars.json
  website/versioned_sidebars/version-1.1-sidebars.json
  website/versioned_sidebars/version-1.2-sidebars.json
  website/yarn.lock
Labels: docs, formal specification

#619 600 ViewProfile addition and ViewContact deprecation
  .gitignore
  docs/context/ref/Contact.md
  docs/context/ref/Organization.md
  docs/intents/ref/ViewContact.md
  docs/intents/ref/ViewProfile.md
  docs/intents/spec.md
  src/intents/Intents.ts
  src/intents/standard intents.json
  website/sidebars.json
Labels: enhancement, intents, Context Data & Intents, deprecation

#721 Context Data and Intents consolidated update PR
  .gitignore
  CHANGELOG.md
  docs/context/ref/Contact.md
  docs/context/ref/Organization.md
  docs/intents/overview.md
  docs/intents/ref/ViewContact.md
  docs/intents/ref/ViewProfile.md
  docs/intents/spec.md
  src/intents/Intents.ts
  src/intents/standard intents.json
  website/sidebars.json
Labels: enhancement, Context Data & Intents

#706 646 adding a context representing a range of time: fdc3.timerange
  CHANGELOG.md
  docs/context/ref/TimeRange.md
  src/context/ContextType.ts
  src/context/schemas.json
  src/context/schemas/timerange.schema.json
  website/sidebars.json
  website/static/schemas/next/timerange.schema.json
Labels: enhancement, context-data, Context Data & Intents

#708 651 adding a context representing a Currency: fdc3.currency
  CHANGELOG.md
  docs/context/ref/Currency.md
  src/context/ContextType.ts
  src/context/schemas.json
  src/context/schemas/currency.schema.json
  website/sidebars.json
  website/static/schemas/next/currency.schema.json
Labels: enhancement, context-data, Context Data & Intents

#709 652 adding a context representing the price and value of a holding: fdc3.valuation
  CHANGELOG.md
  docs/context/ref/Valuation.md
  src/context/ContextType.ts
  src/context/schemas.json
  src/context/schemas/valuation.schema.json
  website/sidebars.json
  website/static/schemas/next/valuation.schema.json
Labels: enhancement, context-data, Context Data & Intents

#715 654 chart context type
  CHANGELOG.md
  docs/context/ref/Chart.md
  docs/context/ref/Instrument.md
  docs/context/ref/TimeRange.md
  docs/intents/ref/ViewChart.md
  src/context/ContextType.ts
  src/context/schemas.json
  src/context/schemas/chart.schema.json
  website/sidebars.json
  website/static/schemas/next/chart.schema.json
Labels: context-data, Context Data & Intents

#624 How to submit a new intent
  CONTRIBUTING.md
  docs/assets/latest_version_selector.png
  docs/assets/next_version.png
  docs/assets/version_selector.png
  docs/assets/view_research.png
  docs/guides/submit-new-intent.md
Labels: docs, intents, project infrastructure, Context Data & Intents

#625 589 intent proposal view interactions
  docs/context/ref/Contact.md
  docs/context/ref/Instrument.md
  docs/context/ref/Organization.md
  docs/intents/ref/ViewInteractions.md
  docs/intents/ref/ViewProfile.md
  docs/intents/spec.md
  src/intents/Intents.ts
  src/intents/standard intents.json
  website/sidebars.json
Labels: enhancement, intents, Context Data & Intents

#672 588 intent proposal ViewOrders
  CHANGELOG.md
  docs/context/ref/Contact.md
  docs/context/ref/Instrument.md
  docs/context/ref/Organization.md
  docs/intents/ref/ViewInstrument.md
  docs/intents/ref/ViewOrders.md
  docs/intents/spec.md
  src/intents/Intents.ts
  src/intents/standard intents.json
  website/sidebars.json
Labels: enhancement, intents, Context Data & Intents

#668 AppD consolidated update PR
  CHANGELOG.md
  docs/app-directory/overview.md
  docs/app-directory/spec.md
  docs/fdc3-glossary.md
  docs/references.md
  src/app-directory/README.md
  src/app-directory/specification/appd.yaml
  website/package.json
  website/pages/schemas/1.1/app-directory.html
  website/pages/schemas/1.2/app-directory.html
  website/pages/schemas/next/app-directory.html
  website/static/schemas/1.1/app-directory.yaml
  website/static/schemas/1.2/app-directory.yaml
  website/static/schemas/next/app-directory.yaml
  website/yarn.lock
Labels: enhancement, app-directory

#726 603 Allow an App to retrieve its own metadata through getInfo()
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Metadata.md
  docs/api/spec.md
  src/api/ImplementationMetadata.ts
  test/Methods.test.ts
Labels: enhancement, api
