Repository finos/FDC3, pull requests merged in 2022-02, with the labels that each got.

#540 501 524 glossary and native apps
  docs/api/overview.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Metadata.md
  docs/api/ref/Types.md
  docs/api/spec.md
  docs/context/overview.md
  docs/context/ref/Nothing.md
  docs/fdc3-compliance.md
  docs/fdc3-glossary.md
  docs/fdc3-intro.md
  docs/intents/overview.md
  docs/intents/spec.md
  docs/supported-platforms.md
  website/sidebars.json
Labels: formal specification

#509 450 allow intents to target app instances
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Errors.md
  docs/api/ref/Metadata.md
  docs/api/spec.md
  src/api/AppMetadata.ts
  src/api/DesktopAgent.ts
  src/api/Errors.ts
  src/api/IntentResolution.ts
Labels: enhancement, cla-present, api, channels feeds & transactions

#512 431 Making joinChannel, leaveCurrentChannel and getCurrentChannel functions optional
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/spec.md
  src/api/DesktopAgent.ts
Labels: enhancement, cla-present, api, channels feeds & transactions

#522 518 Added error UserCancelled to the ResolveError enumeration
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Errors.md
  src/api/Errors.ts
Labels: enhancement, api, channels feeds & transactions

#479 430 Rename System channels User channels to reflect usage
  CHANGELOG.md
  docs/api/ref/Channel.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Errors.md
  docs/api/ref/Metadata.md
  docs/api/spec.md
  docs/context/ref/Instrument.md
  docs/context/ref/InstrumentList.md
  docs/context/ref/Nothing.md
  docs/supported-platforms.md
  src/api/Channel.ts
  src/api/DesktopAgent.ts
  src/api/Methods.ts
  test/Methods.test.ts
Labels: enhancement, cla-present, api, channels feeds & transactions

#604 Updating Reference to the current IP policy
  GOVERNANCE.md
  PATENTS.md
  README.md
  docs/fdc3-charter.md
Labels: docs, project governance

#541 Add ViewHoldings intent
  docs/intents/ref/ViewHoldings.md
  src/intents/Intents.ts
  src/intents/standard intents.json
  website/sidebars.json
Labels: Context Data & Intents

#582 Adding IP disclaimer to charter, compliance, README and NOTICE files
  NOTICE
  README.md
  docs/fdc3-charter.md
  docs/fdc3-compliance.md
Labels: docs, project governance
