Repository finos/FDC3, pull requests merged in 2022-06, with the labels that each got.

#731 247 appd use of interop
  CHANGELOG.md
  docs/app-directory/overview.md
  src/app-directory/specification/appd.yaml
  website/static/schemas/next/app-directory.yaml
Labels: enhancement, app-directory

#727 717 Add a recommended set of user channels to the Standard
  CHANGELOG.md
  docs/api/spec.md
  src/api/RecommendedChannels.ts
  src/index.ts
  website/blog/2017-09-25-testing-rss.md
Labels: enhancement, api, Desktop Agent Bridging

#733 Improve readability of API Errors, Metadata and Types definitions in docs
  docs/api/ref/Errors.md
  docs/api/ref/Metadata.md
  docs/api/ref/Types.md
Labels: docs

#748 Update the Glue42 logo
  website/static/img/users/GLUE42.png
Labels: docs

#751 734 return app identifier and add function to retrieve app metadata
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Metadata.md
  docs/api/ref/Types.md
  docs/api/spec.md
  src/api/ContextMetadata.ts
  src/api/DesktopAgent.ts
  src/api/IntentResolution.ts
  src/api/Methods.ts
  test/Methods.test.ts
  website/README.md
Labels: enhancement, api

#760 Add OpenFin blurb to implementations page
  website/data/implementations.json
Labels: website

#754 745 generate context typescript files for 2.0 (and apply prettier)
  package.json
  src/context/ContextTypes.ts
  src/context/schemas.json
Labels: context-data, javascript
