Repository finos/FDC3, pull requests merged in 2023-03, with the labels that each got.

#927 Fixing links to appD spec pages
  .gitignore
  docs/app-directory/spec.md
  website/package.json
  website/src/css/customTheme.css
  website/versioned_docs/version-1.0/app-directory/spec.md
  website/versioned_docs/version-1.1/app-directory/spec.md
  website/versioned_docs/version-1.2/app-directory/spec.md
  website/versioned_docs/version-2.0/app-directory/spec.md
  website/yarn.lock
Labels: bug, website

#869 make chatInitSettings inherit from Context
  src/context/schemas/chatInitSettings.schema.json
Labels: Context Data & Intents

#875 fix/855 Fix incorrect format and rename 'public' property
  docs/context/ref/ChatInitSettings.md
  docs/intents/ref/StartChat.md
  src/context/schemas/chatInitSettings.schema.json
  website/static/schemas/2.0/chatInitSettings.schema.json
  website/static/schemas/next/chatInitSettings.schema.json
  website/versioned_docs/version-2.0/context/ref/ChatInitSettings.md
  website/versioned_docs/version-2.0/intents/ref/StartChat.md
Labels: Context Data & Intents

#824 WIP: #644 | Add Order and OrderLeg Context Types
  CHANGELOG.md
  docs/context/ref/Order.md
  docs/context/ref/OrderLeg.md
  src/context/schemas.json
  src/context/schemas/order.schema.json
  src/context/schemas/orderLeg.schema.json
  website/sidebars.json
  website/static/schemas/next/order.schema.json
  website/static/schemas/next/orderLeg.schema.json
Labels: enhancement, work-in-progress, Context Data & Intents
