Repository finos/FDC3, pull requests merged in 2023-04, with the labels that each got.

#962 Fixing minor syntax error in PrivateChannel docs
  docs/api/ref/PrivateChannel.md
  website/versioned_docs/version-2.0/api/ref/PrivateChannel.md
Labels: bug, docs

#963 Update website deps to reduce vulnerabilities reported by audit
  website/package.json
  website/yarn.lock
Labels: website, project infrastructure

#925 Move to Netlify for Production Site means this is no longer required
  .github/workflows/docusaurus.yml
  src/context/ContextTypes.ts
  website/docusaurus.config.js
  website/package.json
Labels: website, project infrastructure

#965 Updating project to node 18
  .github/workflows/package.yml
  .node-version
  .nvmrc
  package-lock.json
  package.json
  toolbox/fdc3-workbench/package-lock.json
  website/.node-version
  website/.nvmrc
Labels: website, project infrastructure, toolbox

#808 FINOS Security Scanning
  .github/workflows/cve-scanning.yml
  .github/workflows/semgrep.yml
  .semgrepignore
  toolbox/fdc3-explained/1.0/index.html
  toolbox/fdc3-explained/1.0/main.js
  toolbox/fdc3-explained/1.1/index.html
  toolbox/fdc3-explained/1.1/main.js
  toolbox/fdc3-explained/1.2/index.html
  toolbox/fdc3-explained/1.2/main.js
  toolbox/fdc3-explained/index.html
  toolbox/fdc3-workbench/package.json
  website/package.json
Labels: project infrastructure
