Repository finos/FDC3, pull requests merged in 2024-04, with the labels that each got.

#1179 Correction to bridging broadcast and findIntent examples that didn't match schema
  docs/agent-bridging/ref/broadcast.md
  docs/agent-bridging/ref/findIntent.md
  website/versioned_docs/version-2.1/agent-bridging/ref/broadcast.md
  website/versioned_docs/version-2.1/agent-bridging/ref/findIntent.md
Labels: docs, Desktop Agent Bridging

#1170 Remove the IntentResolution.version field as defunct
  CHANGELOG.md
  docs/api/ref/DesktopAgent.md
  docs/api/ref/Metadata.md
  schemas/api/api.schema.json
  src/api/IntentResolution.ts
  src/bridging/BridgingTypes.ts
Labels: api, deprecation

#1169 Add content guidelines and other tweaks to community page
  website/data/community.json
  website/package.json
  website/src/components/implementationFilters.js
  website/src/css/customTheme.css
  website/src/pages/community.js
Labels: website

#1177 Refine the varying schemas for ImplementationMetadata
  CHANGELOG.md
  package.json
  schemas/api/api.schema.json
  schemas/api/baseImplementationMetadata.schema.json
  schemas/bridging/common.schema.json
  schemas/bridging/connectionStep3Handshake.schema.json
  schemas/bridging/connectionStep6ConnectedAgentsUpdate.schema.json
  src/bridging/BridgingTypes.ts
Labels: api, Desktop Agent Bridging

#1194 Correcting an error in the fdc3.country docs as they differ from the schema
  docs/context/ref/Country.md
  website/versioned_docs/version-2.0/context/ref/Country.md
Labels: bug, docs, context-data

#1198 Only trigger NPM releases on release/* branch merges
  .github/workflows/package.yml
Labels: project infrastructure

#1175 Remove TSDX from build system
  .eslintignore
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/api/Methods.ts
  src/bridging/BridgingTypes.ts
  src/context/ContextType.ts
  src/context/ContextTypes.ts
  src/intents/Intents.ts
  test/Methods.test.ts
  tsconfig.json
Labels: api, project infrastructure
